---
import Layout from "@layout/layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@components/post-card.astro";
import Separator from "@components/separator.astro";

const posts = await getCollection("blog");
const latestPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<Layout
  title="~/isidrok"
  description="Isidro's personal blog about web development, software engineering, and technology"
  type="website"
  canonicalURL={Astro.url.href}
>
  <article class="container">
    <header class="intro">
      <h1>Hi! I’m Isidro Torregrosa</h1>
      <p class="description">
        I build web products and write about some interesting stuff—TypeScript,
        Node.js, Web Development, and lately AI tooling.
      </p>
      <Separator />
    </header>

    <section>
      <h2>
        <span class="command" aria-hidden="true">&gt; ls -t ./blog</span>
        <span class="sr-only">Latest posts</span>
      </h2>
      <ol role="list">
        {
          latestPosts.map((post) => (
            <li>
              <PostCard
                title={post.data.title}
                description={post.data.description}
                date={post.data.date}
                url={`/blog/${post.id}/`}
              />
            </li>
          ))
        }
      </ol>
    </section>
  </article>
</Layout>

<style lang="scss">
  .intro {
    text-align: center;
  }
</style>
