---
import Layout from "@layout/layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@components/post-card.astro";
import Separator from "@components/separator.astro";
import TypewriterText from "@components/typewriter-text.astro";
import { calculateAnimationDuration } from "@utils/animation";

const posts = await getCollection("blog");
const latestPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
const title = "Hi, I'm Isidro Torregrosa";
const titleSpeed = 35;
const titleStartDelay = 400;
const subtitle =
  "Technical Lead & Senior Full-Stack Engineer passionate about JavaScript, web development and Node.js.";
const subtitleSpeed = 15;
const titleDuration = calculateAnimationDuration(
  title,
  titleSpeed,
  titleStartDelay
);
const subtitleStartDelay = titleDuration + 200;
---

<Layout
  title="~/isidrok"
  description="Isidro's personal blog about web development, software engineering, and technology"
  type="website"
  canonicalURL={Astro.url.href}
>
  <article class="container">
    <header class="intro">
      <h1>
        <TypewriterText
          text={title}
          speed={titleSpeed}
          startDelay={titleStartDelay}
        />
      </h1>
      <p class="description">
        <TypewriterText
          text={subtitle}
          speed={subtitleSpeed}
          startDelay={subtitleStartDelay}
        />
      </p>
      <Separator />
    </header>

    <section>
      <h2>
        <span class="command" aria-hidden="true">&gt; ls -t ./posts</span>
        <span class="sr-only">Latest posts</span>
      </h2>
      <ol role="list">
        {
          latestPosts.map((post) => (
            <li>
              <PostCard
                title={post.data.title}
                description={post.data.description}
                date={post.data.date}
                url={`/blog/${post.id}`}
              />
            </li>
          ))
        }
      </ol>
    </section>
  </article>
</Layout>

<style lang="scss">
  .intro {
    text-align: center;
  }
</style>
