---
import Layout from "@layout/layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const latestPosts = posts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 5);
---

<Layout title="Home">
  <article>
    <h1>Welcome to My Blog</h1>
    <section>
      <h2>Latest Posts</h2>
      <ul>
        {
          latestPosts.map((post) => (
            <li>
              <article>
                <header>
                  <h3>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                  </h3>
                  <small>
                    <time datetime={post.data.date.toISOString()}>
                      {post.data.date.toLocaleDateString()}
                    </time>
                  </small>
                </header>
                <p>{post.data.description}</p>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</Layout>
