---
import "@styles/styles.scss";
import Head from "./head.astro";
import Header from "./header.astro";

interface Props {
  title: string;
  description: string;
  type: "website" | "article";
  canonicalURL: string;
}

const { title, description, type, canonicalURL } = Astro.props;
const isArticle = type === "article";
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      type={type}
      canonicalURL={canonicalURL}
    />
  </head>
  <body class:list={[{ "body--article": isArticle }]}>
    <Header isArticle={isArticle} />
    <main>
      <div class="container">
        <slot />
      </div>
    </main>
  </body>
</html>

<style lang="scss">
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    padding-block: 3rem;
  }
</style>
